<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Importer</title>
</head>
<body>
    <form action="{% url 'csv_importer' %}" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="file" name="csv_file" id="csv_file">
        <input type="submit" value="Import File">
     </form>
       
        {% if header and imported %}
            <p>Campos Encontrados: {{ header|join:", "}}</p>
            <p>Linhas importadas: {{ imported }}</p>
        {% endif %}

</body>
</html>